* {
    margin: 10px;
    padding: 0;
}
body {
    background-color: coral;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body p h1 {
    font-weight: 500;
}

img {
    height: 200px;
}

footer{
    width: auto;
    text-align: center;
    background-color: dimgray;
    color: whitesmoke;
    padding: 10px 0px;
}

table {
    justify-content: center;
}